/* Definindo a altura total da página e removendo margens e preenchimentos padrões */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif; /* Fonte padrão */
  background-color: #f0f0f0; /* Cor de fundo padrão */
}

/* Estilizando o container principal */
#app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: black; /* Fundo branco */
  padding: 20px;
  border-radius: 10px; /* Bordas arredondadas */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra sutil */
  max-width: 600px; /* Largura máxima */
  width: 100%; /* Ajuste da largura */
}

/* Responsividade: redução do padding em telas menores */
@media (max-width: 600px) {
  #app {
      padding: 10px;
  }
}
